.retangulo {
    width: 10%;
    height: 200px;
    background-image: linear-gradient(165deg,  #00BAB4 15% ,#2D2E47 100%);
    margin: 0 auto 20px;
    margin-top: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: #00BAB4;
}

.roxo {
    background-color:blueviolet ;
}  